<div class="d-flex" style="width: 800px">
  <button type="button" class="btn btn-secondary btn-lg btn-block">Cadastrar Jogador</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block">Cadastrar Partida</button>
  <button type="button" class="btn btn-secondary btn-lg btn-block">Atualizar Status do Jogador</button>
</div>